<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

        <link rel="stylesheet" href="styles/progressbar.css"/>
        <link rel="stylesheet" href="components/nanoscroller/bin/css/nanoscroller.css"/>
        <link rel="stylesheet" href="components/animate/animate.min.css">
        <link rel="stylesheet" href="components/pines-notify/oxygen/icons.css"/>
        <link rel="stylesheet" href="components/pines-notify/jquery.pnotify.default.icons.css"/>
        <link rel="stylesheet" href="components/pines-notify/jquery.pnotify.default.css"/>

    </head>
    <body ng-app="mustachedCyrilApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="menu" style="z-index: 1">
            <ul>
                <li>Menu Item 1</li>
                <li>Menu Item 2</li>
            </ul>
        </div>
        <div id="right" style="z-index: 5">
            <section id="main">
                <div class="top-nav" ng-controller="NavCtrl" ng-show="navProp.show">
                    <div class="row-fluid">
                        <!-- left nav -->
                        <div class="span1">
                            <ul class="breadcrumb">
                                <li>
                                    <a ng-click="toggleInsp()"><span>☰</span></a>
                                </li>  
                            </ul>
                        </div>
                        <!-- left nav end -->

                        <!-- mid nav -->
                        <div class="span10">
                            <ul class="breadcrumb">
                                <li ng-repeat="navitem in navitems" class="{{navitem.cls}}">
                                    <a href="{{navitem.url}}">
                                        <i class="{{navitem.iconCls}}"></i> 
                                        <span>{{navitem.label}}</span>
                                    </a>
                                </li>  
                            </ul>
                        </div>
                        <!-- mid nav end -->

                        <!-- right nav -->
                        <div class="span1"></div>
                        <!-- right nav end -->
                    </div>
                </div>
            
                <!-- main view -->
                <div ng-view style="width: 100%; height: 92%"></div>
            </section>
        </div>
        

        <script src="components/jquery/jquery.min.js"></script>
        <script src="components/pines-notify/jquery.pnotify.min.js"></script>
        <script src="components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>
        <script src="scripts/vendor/angular.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/NotificationService.js"></script>
        <script src="scripts/services/UserValidator.js"></script>
        <script src="scripts/services/StringValidator.js"></script>
        <script src="scripts/services/ProgressBarService.js"></script>
        <script src="scripts/controllers/inspection.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/services/NavService.js"></script>
        <script src="scripts/controllers/map.js"></script>
        <script src="scripts/controllers/form.js"></script>
        <script src="scripts/controllers/history.js"></script>
        <script src="scripts/controllers/complaints.js"></script>
        <script src="scripts/controllers/summary.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
